.Modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    pointer-events: none;

    // в 29 уроке вместо этого через скрипт делается и добавляется класс isClosing
    transition: all 0.1s;
    color: var(--primary-color);
}

.Modal.dark {
    --bg-color: #090949;
    --primary-color: #04ff04;
}

.overlay {
    width: 100%;
    height: 100%;
    background: var(--overlay-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    padding: 20px;
    border-radius: 12px;
    background: var(--bg-color);
    transition: transform 0.2s;
    transform: scale(0.9);
    max-width: 60%;
}

.opened {
    pointer-events: auto;
    z-index: var(--modal-z-index);
    opacity: 1;

    .content {
        transform: scale(1);
    }
}
